<!DOCTYPE html>
<html lang="en" ng-app="scrappyLayouts">
<head>
    <meta charset="UTF-8">
    <title>Scrappy Layouts</title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

    <link rel="stylesheet" href="../stylesheets/navStyle.css">
    <link rel="stylesheet" href="../stylesheets/homeStyle.css">

    <script src="../script/appAndServices.js"></script>
    <script src="../script/directives.js"></script>
    <script src="../script/controller.js"></script>
</head>
<body ng-controller="mainCtrl as MC">
    <div class="container" ng-controller="homeCtrl as hc">

        <data-navigation></data-navigation>

        <div id="mainContent" class="row">
            <!-- New Layout picker & Popular Layout Display -->
            <div class="col-md-7">
                <div id="createLayouts">
                    <div class="headContain">
                        <header>Create New Layout</header>
                    </div>
                    <div class="layoutSizes">
                        <div><a href="">
                            <p>Square</p>
                            <div class="square"></div>
                        </a></div>
                        <div><a href="">
                            <p>Rectangular Portrait</p>
                            <div class="rectanglePortrait"></div>
                        </a></div>
                        <div><a href="">
                            <p>Rectangular Landscape</p>
                            <div class="rectangleLandscape"></div>
                        </a></div>
                    </div>
                </div>
                <div class="pastLayouts" ng-controller="pastDesignsCtrl as pdc">
                    <div class="headContain">
                        <header>Past Designs</header>
                    </div>
                    <div ng-repeat="page in pdc.pastPagesSummary">
                        <a ng-href="{{page.link}}">
                            <p>{{page.title}}</p>
                            <div class="pastPage"><img ng-src="{{page.pageSrc}}"></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- User Designs -->
            <div class="col-md-5">
                <div id="userInfo" ng-controller="userSnapshotCtrl as usc">
                    <div class="headContain">
                        <header>{{usc.user.name}}</header>
                    </div>
                    <div>
                        <table class="userStats table">
                            <thead>
                                <tr>
                                    <th>Pages Created</th>
                                    <th>Stars Earned</th>
                                    <th>Favorites</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{usc.stats.created}}</td>
                                    <td>{{usc.stats.stars}}</td>
                                    <td>{{usc.stats.saved}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="userPages">
                        <div class="headContain">
                            <header>Saved Pages</header>
                        </div>
                        <div class="pastLayouts">
                            <div ng-repeat="page in usc.pagesSummary">
                                <a ng-href="{{page.link}}">
                                    <p>{{page.title}}</p>
                                    <div class="pastPage"><img ng-src="{{page.pageSrc}}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>