body{
    overflow-x: hidden;
}
/* NAVIGATION */
.navbar{
    height: 100px;
    position: relative;
    background: #fefefe;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
}
.navbar-header{
    height: 100px;
    padding: 10px;
}
.navbar-brand{
    padding: 0;
    height: 100%;
}
.navbar img{
   height: 100%;
}
#pages{
    margin: 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
}
#pages li{
    height: 50%;
    margin: 0 2%;
    white-space: nowrap;
}
#pages>li>a:hover{
    background-color: rgba(194, 241, 114, 0.5);
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}
#pages>.active>a{
    border-radius: 10%;
    background-color: rgba(222, 104, 164, 0.8);
}
.navbar .search{
    width: 30%;
    margin: 0 1%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.navbar .account{
    clear: both;
}

/* SEARCH BAR */
.search input.form-control:focus{
    border-color: rgba(194, 241, 114, 0.8);
    -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 10px rgba(194, 241, 114, 0.6);
    -moz-box-shadow: inset 0 1px 1px transparent, 0 0 10px rgba(194, 241, 114, 0.6);
    box-shadow: inset 0 1px 1px transparent, 0 0 10px rgba(194, 241, 114, 0.6);
}

.search .btn-default:hover{
    background-color: rgba(194, 241, 114, 0.5);
}